*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #9fe5f8;
}

.profile{
    display: block;
    margin: 30px 30px;
    border: 2px solid #000;
    width: 310px;
    height: 410px;
    background-color: rgb(199, 232, 89);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #566573;
}

.myImage{
    display: block;
    width: 262px;
    height: 260px;
    object-fit: cover;
    margin: 20px auto;
}

.profile h3, .profileDad h3, .profileMom h3, .profileNieces h3{
    text-align: center;
    font-size: 25px;
    background-color: inherit;
}

.btnSeeProfile{
    display: block;
    margin: 10px auto;
    height: 35px;
    width: 150px;
    background-color: rgb(43, 43, 236);
    color: #fff;
    font-family: cursive;
    font-size: 19px;
    cursor: pointer;
}

.btnSeeProfile:hover{
    background-color: rgba(68, 158, 255, 0.814);

}

.profileDad{
    display: block;
    margin-top: -440px;
    margin-bottom: 30px;
    margin-left: 400px;
    margin-right: 10px;
    border: 2px solid #000;
    width: 310px;
    height: 410px;
    background-color: rgb(51, 153, 53);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #566573;
}

 .papaImage, .momImage{
    display: block;
    width: 262px;
    height: 260px;
    object-fit: cover;
    margin: 20px auto;   
} 
.profileDad h3, .profileNieces h3{
    color: #fff;
}

.btnSeeProfileP:hover, .btnSeeProfileN:hover, .btnSeeProfileM:hover{
    background-color: rgba(68, 158, 255, 0.814);
} 
.profileNieces{
    margin: 30px 30px;
    border: 2px solid #000;
    width: 310px;
    height: 410px;
    background-color: rgb(246, 141, 216);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #566573;
}
.profileMom{
    display: block;
    margin-top: -440px;
    margin-bottom: 30px;
    margin-left: 400px;
    margin-right: 10px;
    border: 2px solid #000;
    width: 310px;
    height: 410px;
    background-color: rgb(44, 238, 109);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #566573;
}


